@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

.message {
  display: flex;
  padding: 5px;
  justify-items: flex-start;
}

.message.system {
  font-style: italic;
  font-size: small;
  padding: 5px 20px;
}

.message-content,
.message-username {
  // overflow: hidden;
  padding: 0 10px;
}

.message-content {
  word-break: break-all;
}

.message-username {
  font-weight: 700;
}


.chat-event {
  width: 100%;
  border-bottom: solid #9b99999f 1px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  padding: .5em;
}

.chat-event__time {
  font-size: small;
  font-style: italic;
  color: grey;
  white-space: nowrap;
}

.image img {
  max-width: 60em;
  max-height: 40em;
  width: auto;
  height: auto;
}